.streamlit-app {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.main {
    background-color: #072b33ec;
    padding: 20px;
}

div.st-expander-header 
div.st-expander-header :hover
{
    background-color: #ffffff;
    color: #e6c9a9;
    padding: 10px;
    border-radius: 5px;
}

div.st-expander-header.Input-Output-Options {
    background-color: #072b33ec;
    color: #e6c9a9;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button.stButton.run-button,
button.stButton.share-button {
    background-color: #808080;
    color: #e6c9a9;
    padding: 10px 20px;
    border: 2px solid #808080;
    border-radius: 5px;
    cursor: pointer;
}

button.stButton.run-button:hover,
button.stButton.share-button:hover {
    background-color: #808080;
    color: #e6c9a9;
}

textarea.stTextArea,
input.stTextInput {
    background-color: #808080;
    color: #e6c9a9;
    padding: 2px;
    font-size: 10px;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: #e6c9a9;
}
