/* Target the main Streamlit app */
.streamlit-app {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

/* Target the main content area */
.main {
    background-color: #012B36; /* Light Blue */
    padding: 20px;
}

/* Target the Streamlit expander header */
div.st-expander-header {
    background-color: #012B36; /* Light Blue */
    color: #FFFFFF; /* Gray */
    padding: 10px;
    border-radius: 5px;
}

/* Target the Input/Output Options expander */
div.st-expander-header.Input-Output-Options {
    /* Add your custom styles here */
    background-color: #012B36; /* Light Blue */
    color: #FFFFFF; /* Gray */
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Target buttons */
button.stButton.run-button,
button.stButton.share-button {
    background-color: #012B36; /* Dark Blue */
    color: #FFFFFF; /* Gray */
    padding: 10px 20px;
    border: 2px solid #012B36; /* Dark Blue */
    border-radius: 5px;
    cursor: pointer;
}

button.stButton.run-button:hover,
button.stButton.share-button:hover {
    background-color: #012B36; /* Dark Blue */
    color: #FFFFFF; /* Gray */
}

/* Target textareas and inputs */
textarea.stTextArea,
input.stTextInput,
div.stAlert div {
    background-color: #FFFFFF; /* Gray */
    color: #FFFFFF; /* Gray */
    padding: 2px;
    font-size: 10px;
}

/* Target headings */
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: #FFFFFF;
}
